.container{
    width: 50%;
    margin: 0 auto;
}
.img{
    text-align: center;
    margin-bottom: 15px;
}
label, input{
    width: 100%;
}
label{
    padding-bottom: 5px;
}
input{
    margin-bottom: 15px;
    line-height: 24px;
}

.update-button{
    background-color:darkgoldenrod;
    width: auto;
    cursor: pointer;
}